@import './../../../scss/variables';
@import './../../../scss/mixins';
@import './../../../scss/common';

.last-achievements-component {
  margin-bottom: 20px;

  .achievement-list-wrapper {
    margin: 0 auto;
    width: 100%;
    background-color: rgba(6, 6, 7, .45);
    border-top: 3px solid #b88a73;
    padding: 40px 0;
    text-align: center;

  }

  .achievement-subtitle {
    color: #e9ac8f;
    text-transform: uppercase;
    font-weight: normal;
    font-size: .95em;
    margin: 1em 0;
  }

}


