@import './../../../../scss/variables';
@import './../../../../scss/mixins';
@import './../../../../scss/common';

.achievement {
  @include block-border-box;
  margin: 2.5em auto;
  width: 80%;
  position: relative;
  //border: 1px solid $color-f-1;
  padding: 1em 65px 1em 95px;

  .achievement-name {
    text-transform: uppercase;
    color: $color-f-1;
    font-weight: 600;
  }

  .select-wrapper {
    @include block-border-box;
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    top: 50%;
    transform: translateY(-50%);

    span {
      color: #b88a73;
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      padding: 20px;
    }

  }

  .icon-wrapper {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border-radius: 50%;
    border: 2px solid $color-f-1;

    & img {
      @include block-border-box;
      width: 35px;
      margin-top: 10px;
      margin-left: 12px;
      filter: invert(65%) sepia(43%) saturate(311%) hue-rotate(334deg) brightness(96%) contrast(87%);
    }
  }

  .achievement-description {
    margin-top: 1em;
    letter-spacing: 1px;
    line-height: 2em;
    color: $color-f-6;
    font-size: .8em;
    width: 70%;
  }

  .achievement-date {
    display: block;
    width: 100%;
    color: #b88a73;
    font-size: .6em;
  }
}
