@import '../../../scss/mixins';
@import '../../../scss/variables';

.combobox-input {

  margin: 0 0 1em;
  position: relative;
  width: 300px;

  .list-of-elements {
    width: 100%;
    display: block;
    list-style-type: none;
    z-index: 10;
    height: 0;
    overflow: hidden;
    position: absolute;
    transition-duration: .5s;
    background-color: $color-f-6;

  }

  .list-element {
    display: block;
    width: 100%;
    text-align: center;
    font-size: .75em;
    padding: 10px 2px;
    height: 40px;
    cursor: pointer;
    color: black;

    &:hover {
      background-color: $color-f-7;
    }

  }

}

.inputs {
  @include block-border-box;
  width: 100%;
  border: 1px solid $color-f-6;
  height: 30px;

  .input-text {
    width: 239px;
    color: $color-f-2;
    display: inline-block;
    font-size: .85em;
    height: 28px;
    vertical-align: center;
    line-height: 28px;
    padding-left: 10px;
  }

  .input-btn {
    width: 59px;
    display: inline-block;
    background-color: transparent;
    color: $color-f-2;
    font-size: .85em;
    border-radius: 0;
    outline: 0;
    height: 28px;
    vertical-align: top;
    line-height: 28px;
    border-left: 1px solid $color-f-6;

    .icon {
      display: block;
      transition-duration: .5s;

      &.rotate {
        transform: rotateZ(180deg);
      }
    }

  }
}
