@import './../../../scss/variables';
@import './../../../scss/mixins';
@import './../../../scss/common';

.info-container {

  padding-left: 40px;

  h3 {
    font-size: 1.2em;
    text-align: left;
    color: $color-f-1;
    font-weight: 600;
    text-transform: uppercase;
    margin: 2em 0;
  }

  p {
    color: #eac99f;
    font-size: .85em;
    padding-left: 20px;
  }

  ul {
    padding-left: 20px;
    list-style-type: square;
    margin-left: 2em;
    color: #eac99f;

    li {
      font-size: .85em;
      margin: 1em 0;
    }

  }

}
