@import '../variables';
@import '../mixins';
@import '../common';

.details {
  background-color: $color-bg-2;
  flex: 8;
  display: flex;
  flex-flow: column;
}

.description-controls {
  display: block;
  width: 100%;
  height: 10em;
}

.friends,
.achievements {
  display: flex;
  flex-flow: column;
}

.friends-list,
.achievements-list {
  overflow-y: scroll;

  &::after {
    clear: both;
  }
}

.friend {
  @include block-border-box;
  float: left;
  width: 33.333%;
}
