@import './../../../scss/variables';
@import './../../../scss/mixins';
@import './../../../scss/common';

.last-week-container {

  padding: 30px 10px;


  .last-week-title {
    margin-bottom: 2em;
  }

  .chart-component {
    width: 70%;
    min-height: 720px;
    margin: 1em auto;
    text-align: center;
  }

  .chart-title {
    color: #b88a73;
    text-transform: uppercase;
  }

  .chart-svg {
    width: 100%;
    height: auto;
  }

  .axis {
    path,
    line {
      stroke: #b88a73;
    }

    text {
      stroke: transparent;
      stroke-width: 0;
      font-size: 8px;
      font-weight: normal;
      fill: #e9ac8f;
    }
  }


}
