@import './../../../scss/variables';
@import './../../../scss/mixins';
@import './../../../scss/common';

.achievements-container {

  .achievements-title {
    margin-bottom: 2em;
  }

  .button-wrapper {
    text-align: center;
  }

  .selected-achievements-wrapper {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }

  .achievements-subtitle {
    color: #eac99f;
    font-size: 1em;
    font-weight: normal;
    padding-left: 20px;
  }

  .button {
    @include button-template;
  }

}
