@import './../../../scss/variables';
@import './../../../scss/mixins';
@import './../../../scss/common';

.achievements-container {
  padding: 30px 10px 200px;

  @media screen {
    @media (min-width: $media-br-2) {
      padding: 30px 10px;
    }
  }

  .achievements-title {
    margin-bottom: 2em;
  }

  .button-wrapper {
    text-align: center;
  }

  .selected-achievements-wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }

  .achievements-subtitle {
    color: #eac99f;
    font-size: 1em;
    font-weight: normal;
    padding-left: 20px;
  }

  .button {
    @include button-template;
    margin: 1em;

    @media screen {
      @media (min-width: $media-br-3) {
        margin: 1em 0 70px 20px;
      }
    }

  }

}
