@import './../../../scss/variables';
@import './../../../scss/mixins';
@import './../../../scss/common';

.friends-container {

  padding: 30px 10px;

  .friends-title {
    margin-bottom: 2em;
  }

  .friends-subtitle {
    color: #d59e84;
    text-transform: uppercase;
    margin: 1em;
    flex: 1 1 100%;
    text-align: center;
    font-weight: normal;

    @media screen {
      @media (min-width: $media-br-1) {
        flex: 2 2 100%;
      }
    }

    @media screen {
      @media (min-width: $media-br-3) {
        flex: 3 3 100%;
      }
    }

  }

  .search-wrapper {
    width: 100%;
    display: none;
    min-height: 185px;

    &.visible {
      display: block;
    }
  }

  .button {
    @include button-template;
    width: 100%;
    margin: 10px 0;
  }

  .search-friend-form {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 5px;
  }

  .input-text {
    @include input-template;
    background-color: rgba(209, 213, 253, .2);
    width: 100%;
  }

  .search-results {
    width: 100%;
    display: block;
    margin: 0 auto;
  }


  .button-wrapper {
    width: 100%;
    display: block;
    text-align: center;
    margin: 0 auto;
    min-height: 130px;

    &.summary {
      min-height: 200px;
    }

    @media screen {
      @media (min-width: $media-br-2) {
        width: 80%;
      }
    }

    &.search-results {
      text-align: right;
    }

  }

  .friends-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #eac99f;
    padding: 2em 0;

    &.editable,
    &.search-results {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @media screen {
      @media (min-width: $media-br-2) {
        flex-direction: row;
        flex-flow: wrap;
      }
    }

  }

}
