@import './../../../scss/variables';
@import './../../../scss/mixins';
@import './../../../scss/common';

.friends-container {

  .friends-title {
    margin-bottom: 2em;
  }

  .friends-subtitle {
    color: #d59e84;
    text-transform: uppercase;
    margin: 1em;
    text-align: center;
    font-weight: normal;
  }

  .search-wrapper {
    width: 100%;
    display: none;

    &.visible {
      display: block;
    }
  }

  .button {
    @include button-template;
  }

  .search-friend-form {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  .input-text {
    @include input-template;
    background-color: rgba(209, 213, 253, .2);
    width: 77%;
    padding-left: 5px;
  }

  .search-results {
    width: 100%;
    display: block;
    margin: 0 auto;
  }


  .button-wrapper {
    width: 80%;
    display: block;
    text-align: center;
    margin: 0 auto;

    &.search-results {
      text-align: right;
    }

  }

  .friends-list {
    overflow: hidden;
    border-top: 1px solid #eac99f;
    padding: 2em 0;

    &::after {
      clear: both;
    }
  }

}
