@import '../variables';
@import '../mixins';
@import '../common';

/*.app {
  z-index: 2;
  background-color: $color-bg-2;
  height: 80vh;
  margin: 0 auto;
  min-height: 800px;
  position: relative;
  width: 70%;
}*/

.container {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  margin-left: 6em;
}

.user {
  background-color: $color-bg-1;
  height: 100%;
  width: 18em;
  flex: 2;
}
