@import './../../../scss/variables';
@import './../../../scss/mixins';
@import './../../../scss/common';

.last-training-container {

  .last-training-title {
    margin-bottom: 2em;
  }

  .combobox-input-wrapper {
    width: 80%;
    margin: 0 auto;

    &:after {
      clear: both;
    }

    .training-details-component {
      float: right;
    }

  }



}
