@import './../../../scss/variables';
@import './../../../scss/mixins';
@import './../../../scss/common';

.last-training-container {

  .last-training-title {
    margin-bottom: 2em;
  }

  .chart-component {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &.first {
      background-color: aquamarine;

      .chart-svg {
        width: 100%;
        height: auto;

        .grid {
          fill: yellowgreen;
        }

        .domain {
          stroke: yellow;
        }

        .tick {

          text {
            fill: magenta;
          }

          line {
            stroke: maroon;
            stroke-width: 1px;
          }
        }
      }
    }

    &.second {
       visibility: hidden;
    }

    &.third {
      visibility:  hidden;
    }

  }

  .charts-container {
    width: 600px;
    height: 600px;
    position: relative;
    margin: 1em auto;
    text-align: center;
    padding: 2em;
  }

  .chart-title {
    color: #b88a73;
    text-transform: uppercase;
  }

  .chart-svg {
    width: 100%;
    height: auto;

    .grid {
      fill: #e9ac8f;
    }

    .domain {
      stroke: #b88a73;
    }

    .tick {

      text {
        fill: #b88a73;
      }

      line {
        stroke: #b88a73;
        stroke-width: 1px;
      }
    }
  }


  .combobox-input-wrapper {
    width: 80%;
    margin: 0 auto;
    height: 35px;

    &::after {
      clear: both;
    }

    .training-details-component {
      float: right;
    }
  }
}
