@import './../../../scss/variables';
@import './../../../scss/mixins';
@import './../../../scss/common';

.text-uploader-component {
  margin-bottom: 20px;

  .file-uploader-form {
    margin: 0 auto;
    width: 100%;
    background-color: rgba(6, 6, 7, .45);
    border-top: 3px solid $color-f-4;
    padding: 20px 0 40px;
  }

  .file-name-input {
    width: 100%;
    display: inline-block;
    height: 40px;
    color: $color-f-2;
    line-height: 35px;
    background-color: rgba(209, 213, 253, .2);
    margin-bottom: 1.4em;
    margin-top: 4px;
    vertical-align: middle;
    padding-left: 20px;
    font-size: .85em;
    outline: 0;
  }

  .file-uploader-subtitle {
    color: $color-f-1;
    text-transform: uppercase;
    font-weight: normal;
    font-size: .95em;
    margin: 1em 0;
  }

  .btn-uploader {

    float: none;
    border: 2px solid $color-f-1;
    border-radius: 20px;
    padding: 1em 4em;
    text-transform: uppercase;
    color: $color-f-1;
    font-weight: bolder;
    background-color: transparent;
    margin: 10px;
    cursor: pointer;
    outline: none;

    @media screen {

      @media (min-width: $media-br-2) {
        float: left;
        margin: 2em 10px;
      }
    }
  }

  .btn-wrapper {

    width: 100%;
    height: auto;

    @media screen {

      @media (min-width: $media-br-2) {
        overflow: hidden;
      }
    }

    &::after {
      clear: both;
    }
  }

}
