@import './../../../scss/variables';
@import './../../../scss/mixins';
@import './../../../scss/common';

.user {

  float: left;
  width: 20%;
  height: 100%;
  background-color: $color-bg-2;


  .usr-portrait {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 5em auto 0;
  }

  .usr-title {
    width: 100%;
    padding: 2em 0 1em;
    font-size: 1.2em;
    text-align: center;
    color: $color-f-1;
    font-weight: 600;
    text-transform: uppercase;
  }

  .usr-desc {
    @include block-border-box;
    padding: 0 2em;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    line-height: 2em;
    color: $color-f-6;
    font-size: .8em;
  }

  .achievement-selected {
    text-align: center;
    padding: 3.5em 0;
  }

  .small-achievement {
    color: $color-f-7;
    font-weight: 200;
    display: inline-block;

    &::before {
      @include font-awesome-font;
      font-size: 1.5em;
      padding: 0 .6em;
    }
  }
}
