@import './../../../scss/variables';
@import './../../../scss/mixins';
@import './../../../scss/common';

.training-summary-component {
  @include set-to-zero;
  box-sizing: border-box;
  display: inline-block;
  width: 48%;
  margin: 0 1%;
  padding: 2%;
  text-align: center;
  background-color: rgba(6, 6, 7, .45);
  border-top: 3px solid #b88a73;

  .summary-title {
    width: 100%;
    margin: 10px 0;
    color: #e9ac8f;
    text-align: left;
    font-weight: normal;
    font-size: 1em;
  }

  .summary-table {
    color: #ffbb9a;
    font-size: .85em;
    padding-left: 10px;
    border: 1px solid #eac99f;
    text-align: left;
    border-collapse: collapse;
    width: 95%;

    td {
      border: 1px solid #eac99f;
      padding: 15px;
    }
  }

  .summary-link {
    display: inline-block;
    width: 100%;
    text-align: right;
    color: #b88a73;
    padding: 10px;
    font-size: .75em;
  }

}
