@import './../../../../scss/variables';
@import './../../../../scss/mixins';
@import './../../../../scss/common';

.friend {
  @include block-border-box;
  float: left;
  width: 33.333%;
  padding: 0 1em;
  margin-bottom: 1em;

  .friend-portrait {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 5em auto 0;
  }

  .friend-title {
    width: 100%;
    padding: 2em 0 1em;
    font-size: 1.2em;
    text-align: center;
    color: $color-f-1;
    font-weight: 600;
    text-transform: uppercase;
  }

  .friend-description {
    @include block-border-box;
    padding: 0 2em;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    line-height: 2em;
    color: $color-f-6;
    font-size: .8em;
  }

  .achievement-selected {
    text-align: center;
    padding: 3.5em 0;
  }

  .small-achievement {

    font-weight: 200;
    display: inline-block;
    margin-right: 1em;

    &:last-of-type {
      margin-right: 0;
    }

    img {
      @include block-border-box;
      //filter: invert(65%) sepia(43%) saturate(311%) hue-rotate(334deg) brightness(96%) contrast(87%);
      //filter: invert(96%) sepia(94%) saturate(273%) hue-rotate(326deg) brightness(108%) contrast(101%);
      filter: invert(75%) sepia(58%) saturate(210%) hue-rotate(347deg) brightness(104%) contrast(84%);
      display: block;
      width: 30px;
    }

  }
}
