@import './../../../scss/variables';
@import './../../../scss/mixins';
@import './../../../scss/common';

.history-container {
  padding: 30px 10px;
  min-height: 820px;

  .history-title {
    margin-bottom: 2em;
  }
}
