@import './../../../scss/variables';
@import './../../../scss/mixins';
@import './../../../scss/common';

.history-container {

  height: 850px;
  overflow-x: auto;

  .history-title {
    margin-bottom: 2em;
  }
}
