@import './../../../scss/variables';
@import './../../../scss/mixins';
@import './../../../scss/common';


.show {

  &.menu {

    height: 100vh;
    background-color: $color-bg-3;

    @media screen {

      @media (min-width: $media-br-2) {
        width: 240px;
      }
    }

    .items {
      left: 0;
      width: 240px;
    }

  }
}


.menu {

  overflow: hidden;
  position: absolute;
  background-color: $color-bg-2;
  transition-duration: .5s;
  z-index: 10;
  width: 100%;
  height: 70px;
  text-align: right;
  padding-right: 5px;

  @media screen {

    @media (min-width: $media-br-2) {
      height: 100%;
      width: 6em;
    }
  }


  .menu-btn {

    background-color: transparent;
    color: white;
    cursor: pointer;
    outline: none;


    @media screen {

      @media (min-width: $media-br-2) {
        width: 100%;
      }
    }


    &::before {
      @include font-awesome-font;
      content: $fa-var-navicon;
      display: block;
      font-size: 1.2em;
      margin: 0 auto;
      padding-top: .5em;
    }

    span {
      display: block;
      font-size: 1.2em;
      font-weight: 200;
      margin: 0 auto;
      padding: .75em 0;
      text-transform: uppercase;
    }
  }

  .items {

    position: relative;
    transition-duration: .5s;
    width: 100%;

    @media screen {

      @media (min-width: $media-br-2) {
        left: -240px;
        position: absolute;
        width: 240px;
      }
    }


    li {
      @include block-border-box;
      padding: .2em 2em;
      width: 100%;
      text-align: left;
    }
  }

  .link {

    color: white;
    display: inline-block;
    font-weight: 200;
    margin: 0 1em;
    text-align: left;
    text-decoration: none;
    cursor: pointer;

    &::before {
      @include font-awesome-font;
      display: inline-block;
      font-size: 1.5em;
      width: 35px;
      padding: .25em .3em .25em 0;
    }
  }
}
