@import '../../../scss/mixins';
@import '../../../scss/variables';

.datepicker-input {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
  display: block;
  margin: 0 auto;

  @media screen {
    @media (min-width: $media-br-2) {
      max-width: 640px;
    }
  }

  &::after {
    clear: both;
  }

  .left-panel,
  .right-panel {
    width: 10%;
    height: 100%;
    position: relative;

    @media screen {
      @media (min-width: $media-br-2) {
        width: 5%;
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
      color: $color-f-2;
    }
  }

  .left-panel {
    float: left;
  }

  .right-panel {
    float: right;
  }

  .center-panel {
    @include block-border-box;
    background-color: $color-bg-2;
    width: 80%;
    height: 500px;
    float: left;
    border-bottom: 1px solid $color-f-2;

    @media screen {
      @media (min-width: $media-br-2) {
        width: 90%;
      }
    }
  }

  .month-display {
    box-sizing: border-box;
    display: inline-block;
    line-height: 60px;
    height: 60px;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    font-weight: bold;
    background-color: $color-f-2;
  }

  .days-table {
    @include set-to-zero;
    box-sizing: border-box;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;

    @media screen {
      @media (min-width: $media-br-2) {
        padding: 1em;
      }
    }

  }

  .cell-header {
    border-spacing: 0;
    height: 40px;
    font-weight: bold;
    text-align: center;
    color: $color-f-3;
  }

  .cell-day {
    border-spacing: 0;
    text-align: center;
    vertical-align: middle;
    height: 60px;
    color: $color-f-2;
    opacity: .2;

    &.enabled {
      opacity: 1;
    }

    a {
      color: black;
      font-weight: bold;
      text-decoration: underline;
    }

    &.link {
      background-color: $color-f-2;
    }
  }
}
