@import '../../../scss/mixins';
@import '../../../scss/variables';
@import '../../../scss/common';

.img-uploader-component {
  margin: 0 auto;
  width: 100%;
  background-color: rgba(6, 6, 7, .45);
  border-top: 3px solid #b88a73;
  padding-bottom: 40px;

  .uploader-title {
    width: 100%;
    margin: 1.25em 0;
    color: #e9ac8f;
    text-align: center;
    font-weight: normal;
    font-size: 1em;
    padding-left: 20px;
  }


  .image-thumbnail {
    background-color: transparent;
    width: 100%;
    padding: 30px;
    display: block;
    text-align: center;

    @media screen {
      @media (min-width: $media-br-2) {
        width: 40%;
        display: inline-block;
      }
    }


    .upload-image {
      width: auto;
      max-height: 200px;

      @media screen {
        @media (min-width: $media-br-2) {
          width: 100%;
          height: auto;
          max-height: inherit;
        }
      }

    }
  }

  .upload-form {
    width: 100%;
    display: block;
    height: 100%;
    vertical-align: top;
    text-align: center;
    min-height: 270px;
    padding: 5px;

    @media screen {
      @media (min-width: $media-br-2) {
        width: 60%;
        display: inline-block;
        text-align: left;
      }
    }


    label {
      width: 100%;
      display: block;
      color: #eac99f;
      font-size: .75em;
      padding-left: 20px;
    }

    .btn-uploader {
      @include button-template;
      margin: 10px 0;
      width: 100%;

      @media screen {
        @media (min-width: $media-br-1) {
          width: auto;
          margin: 10px;
        }
      }

    }

    .img-props {
      display: inline-block;
      width: 100%;
      height: 40px;
      color: #eac99f;
      line-height: 35px;
      background-color: rgba(209, 213, 253, .2);
      margin-bottom: 1.4em;
      margin-top: 4px;
      vertical-align: middle;
      padding-left: 20px;
      font-size: .85em;
    }

  }

}
