@import './variables';
@import './mixins';
@import './common';

.icon {
  @include font-awesome-font;
}

.icon-settings {
  &::before {
    content: $fa-var-cogs;
  }
}

.icon-direction-down {
  &::before {
    content: $fa-var-chevron-down;
  }
}

.icon-direction-left {
  &::before {
    content: $fa-var-chevron-left;
  }
}

.icon-direction-right {
  &::before {
    content: $fa-var-chevron-right;
  }
}

.icon-calendar {
  &::before {
    content: $fa-var-calendar;
  }
}

.icon-down {
  &::before {
    content: $fa-var-caret-down;
  }
}

.icon-home-page {
  &::before {
    content: $fa-var-home;
  }
}

.icon-info {
  &::before {
    content: $fa-var-info-circle;
  }
}

.icon-achievements {
  &::before {
    content: $fa-var-birthday-cake;
  }
}

.icon-history {
  &::before {
    content: $fa-var-calendar;
  }
}

.icon-last-training {
  &::before {
    content: $fa-var-tachometer;
  }
}

.icon-fiends {
  &::before {
    content: $fa-var-users;
  }
}

.icon-last-week {
  &::before {
    content: $fa-var-pie-chart;
  }
}

.icon-ac-1 {
  &::before {
    content: $fa-var-certificate;
  }
}

.icon-ac-2 {
  &::before {
    content: $fa-var-bus;
  }
}

.icon-ac-3 {
  &::before {
    content: $fa-var-bug;
  }
}
