@import 'libs/fontAwesome/scss/variables';
$path-fonts: 'fonts/';
$path-open-sans: '#{$path-fonts}Open_Sans/';
$path-font-awesome-fonts: '#{$path-fonts}font-awesome/';

$color-f-1: #e9ac8f;
$color-f-2: #eac99f;
$color-f-3: #d59e84;
$color-f-4: #b88a73;
$color-f-5: #ffbb9a;
$color-f-6: rgba(255, 253, 217, .4);
$color-f-7: #8d8d7a;

$color-bg-1: rgba(0, 0, 0, .5);
$color-bg-2: rgba(0, 0, 0, .25);
$color-bg-3: rgba(0, 0, 0, .75);
$color-bg-4: rgba(0, 0, 0, .1);

$media-br-1: 768px;
$media-br-2: 992px;
$media-br-3: 1200px;
