@import './../../../scss/variables';
@import './../../../scss/mixins';
@import './../../../scss/common';

.home-container {
  .temp-form {
    background-color: magenta;
    width: 100%;

    input {
      height: 3em;
      width: 100%;
    }
  }
}
