@import './../../../scss/variables';
@import './../../../scss/mixins';
@import './../../../scss/common';

.home-container {

  padding: 30px 10px;


  .home-wrapper {
    width: 100%;

    @media screen {
      @media (min-width: $media-br-2) {
        max-width: 800px;
        margin: 0 auto;
      }
    }

  }

  .homepage-title {
    margin-bottom: 2em;
    text-align: center;
  }

  .summaries-wrapper {
    width: 100%;
    height: 660px;
    display: block;
    margin-bottom: 20px;

    @media screen {
      @media (min-width: $media-br-2) {
        height: auto;
      }
    }

    .summaries-subtitle {
      color: $color-f-1;
      text-transform: uppercase;
      font-weight: normal;
      font-size: .95em;
      margin: 1em 0;
    }

  }

}
